@font-face {
    font-family: 'GothamBlack';
    src: url(../../fonts/gotham/GothamBlack.otf);
}

@font-face {
    font-family: 'GothamBook';
    src: url(../../fonts/gotham/GothamBook.otf);
}

@font-face {
    font-family: 'monument';
    src: url(../fonts/monument.otf);
}