//<PALET>
$color-primary: #bb2ff3;
$color-secondary: #ffcb00;
$linear-gradient: linear-gradient(to bottom,lime, #4aff4a);
//</PALET>

//<FONTS>
@import 'fonts';

$font-one: 'GothamBlack', sans-serif;
$font-three: 'GothamBook', sans-serif;

$font-two: 'monument', sans-serif;

.font1 {
    font-family: $font-one;
}

.font2 {
    font-family: $font-three;
}

.font3 {
    font-family: $font-two;
}
//</FONTS>

//<COMPONENTS>
    .container {
        width: 70%;
        max-width: 1500px;
        margin: auto;
        display: flex;
        flex-direction: column;
        
        @media screen and (max-width:1380px){
            max-width: 70%;
        }

        @media screen and (max-width:540px){
            width: 80%;
            max-width: 80%;
        }
    }

    .button {
        display: block;
        background: $linear-gradient;
        width: 22rem;
        font-size: 1.1rem;
        text-decoration: none;
        color: #000;
        padding: 0.75rem 1.5rem;
        border-radius: 0.5rem;
        font-weight: 900;
        text-align: center;
        animation: button 3s ease infinite;
        
        @media screen and (max-width:540px){
            width: 100%;
        }
    }

    @keyframes button {
        0%, 100% {
            transform: matrix(1,0,0,1,0,0);
        }

        50% {
            transform: matrix(1.1,0,0,1.1,0,0);
        }
    }

    [data-anime] {
        opacity: 0;
        transition: 1s;
    }

    [data-anime = "top"] {
        transform: translate3d(0, -50px, 0);
    }

    [data-anime = "left"] {
        transform: translate3d(-50px, 0, 0);
    }

    [data-anime = "right"] {
        transform: translate3d(50px, 0, 0);
    }

    [data-anime].animate {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
//</COMPONENTS>